/* bikin sendiri */
.navbar-green{
	background-color: #40BC99;
}
.navbar-brand{
	color: #fff;
}
.navbar-toggle{
	border: 1px solid #fff;
}

.navbar-green .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-green .navbar-header .cst-btnnavbar{
	position: relative;
	padding: 8px 10px;
	float: right;
	margin-top: 8px;
	margin-right: 10px;
	margin-bottom: 8px;
	color: white;
}

/* override bs */
.navbar{
	margin-bottom: 0px;
}

.navbar-collapse{
	position: absolute;
	z-index: 1;
	width: 100%;
	/*left: auto;
	right: 0;*/
}

.navbar-nav{
	background-color: #fff;
	margin: 0;
	padding: 6px 6px 3px 6px;
}

.navbar-nav li {
	margin-bottom: 3px;
}

.navbar-nav li a{
	background-color:#f8f8f8;
	color: #40BC99;
	/*background-color: #fff;*/
}