.mobile-profil-cst{
	background-color: #40BC99;
	padding-top: 10px;
	text-align: center;
	border-radius: 20px;
}
.mobile-profil-cst .img-cst{
	padding: 4px;
	background-color: #fff;
}

.info-part1-cst .part1-cst{
	text-decoration: underline;
}

.mobile-profil-cst .info-part2-cst{
	text-align: left;
	border-bottom: 1px solid black;
	padding: 10px 0px 10px 0px;
}

.info-part3-cst{
	padding: 10px 0px 10px 0px;
	border-bottom: 1px solid black;
}

.info-part4-cst{
	padding: 10px 0px 10px 0px;
}

.mobile-product-cst{
	padding: 10px 0px 10px 0px;
}

.mobile-product-cst img{
	width: 100%;
}

.item-produk-cst{
	border:1px solid #eee;
	padding: 0px;
	margin: 1%;
}

.item-produk-cst:hover{
	border:1px solid black;
}

.item-info-cst{
	padding: 5px;
	color: black;
	background-color: #fff;
}

.item-info-cst h4{
	font-family: 'Dosis-Bold';
	font-size: 0.95em;
	font-weight: 500;
	line-height: 1.1em;
	text-transform: uppercase;
}

.item-info-cst p{
	text-decoration: underline;
}

.item-footer-cst{
	background: #eee;
	padding: 3px 5px 3px 5px;
}